<!-- <%@ page contentType="text/html;charset=UTF-8" language="java" pageEncoding="utf-8" isELIgnored="false" %> -->
<!DOCTYPE HTML> <!-- 声明H5 -->
<html lang="zh-CH"> <!-- 声明原始语言  -->
<head>
    <meta charset="UTF-8"> <!-- 设置字符集编码 -->
    <meta http-equiv="x-ua-compatible" content="IE=edge">  <!-- 跨用户代理【浏览器】兼容性 设置IE -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/> <!-- 加入视口约束 -->
    <title>Index</title>
</head>
<body>
<h3>这是首页</h3>
<h3>这是首页丫</h3>
</body>
</html>
